Edit

<div>
  Name: <%= candy.name %>
  Color: <%= candy.color %>
</div>
<form method="post" action="/candies/<%=candy.name%>">

  <div>
    Name: <input type="text" name="name" value="<%=candy.name%>">
  </div>
  <div>
    Color: <input type="text" name="color" value="<%=candy.color%>">
  </div>
  <div>
    <input type="submit" value="Update">
  </div>
</form>
